.nav {
    background-color: #e53111;
    height: 100px; /* Adjust the height of the navigation bar */
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
   
}

nav li{
display: flex;
align-items:  center;
flex-direction: row;
list-style-type: none;
}

.myr-btn{
    
    padding: 1rem;
    
}
.dropdown li{
    display: flex;
    flex-direction: column;
    margin-left: 120px;
    list-style-type: none;
  }
  
  .dropdown ul {
    display: flex;
    margin-left: 500px;
    flex-direction: row;
    list-style-type: none;
  }
  
  .dropdown {
    display: flex;
    flex-direction: column;
    top: calc(10% + 5px);
    left: 0;
    background-color: #ffffff;
    border: 1px solid #f5f2f2;

  }

  .letter {
    position: absolute;
    top: 50%;
    left: 51%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column; /* Adjust the direction to column */
    align-items: center; /* Center items horizontally */
  }
  
  .letter h1 {
    margin: 20px 0; /* Add margin top and bottom */
  }

  .mayuri :hover{
    background-color: #e53111;
    transition: ease-in-out;
  }
  
  .letter h1 {
    color: hsl(0, 0%, 28%);
    font-size: 50px;
    font-weight: bold;
    font-family: monospace;
    letter-spacing: 7px;
    cursor: pointer;
  }
  
  .letter h1 span {
    transition: 0.5s ease-out;
  }
  .letter h1:hover span:nth-child(1) {
    margin-right: 5px;
  }
  .letter h1:hover span:nth-child(1):after {
    content: "";
  }
 .letter  h1:hover span:nth-child(2) {
    margin-left: 30px;
  }
  .letter h1:hover span {
    color: #e51616;
    text-shadow: 0 0 10px #e40909, 0 0 20px #ed2222, 0 0 40px #d42424;
  }

  

  .ubm {
    display: flex; /* Change display to flex */
    justify-content: center; /* Center items horizontally */
}

button {
    background-color: #f1d8d8;
    padding: 1rem 2rem;
    border-radius: 10px;
    text-decoration: none;
    color: #a61010;
    font-size: 1.2rem;
    margin: 0 10px; /* Add margin between buttons */
}


button:hover {
    background-color: #e0e0e0;
}
button{
    background-color:    #f1d8d8;
    
    border: none;
}

  
  
  

  

